# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables & secrets
.env
*.env
server/.env
client/.env

# Build outputs
client/dist/
client/build/

# System / Editor logs
.DS_Store
*.log